/* Site Colors : 
  font-family: "Roboto", sans-serif;
  turquoise = #2CBAA9
  cyclamen = #C71F48
*/

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
